body {
  margin: 0;
  display: inline;
  text-align: center;
  background-color: hsl(212, 45%, 89%);
  font-family: 'outfit';

}
h3 {
  font-weight: 700px;
  width: 100%;
  margin: auto auto;
  color: hsl(218, 44%, 22%);
  font-size: larger;
}
p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 500px;
}
img {
  display: inline-block;
  height: 300px;
  width: 100%;
  border-radius: 20px;
  margin: 0;
}
.container {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  width: 300px;
  height: 500px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 20px;
  padding: 15px;
}
.header {
  margin: 20px auto;
  width: 80%;
}
.paragraph {
  font-size: 15px;
  width: 84%;
  margin: 30px auto 20px auto;
}

